@use "../../assets/styles/variables" as *;

.filter-box {
  border-radius: 5px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;

  &__name,
  &__input {
    margin: 5px;
  }

  &__input {
    background-color: $primary-colour;
  }
}
