@use "../../assets/styles/variables" as *;

html {
  background-color: $bg-colour;
}

.beer-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  padding: 25px;
  font-size: $medium-font;
  background: linear-gradient(to bottom, $secondary-colour, $tertiary-colour);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.777);
  border-radius: 50px;

  &__image {
    height: 400px;
    width: 150px;
    padding: 5px;
  }

  &__name {
    font-size: $large-font;
  }

  &__mid-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: linear-gradient(to bottom, $secondary-colour, $tertiary-colour);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.777);
    border-radius: 50px;
    margin: 10px;
  }

  &__mid-section-facts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__first-brewed,
  &__abv,
  &__ibu,
  &__ph {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: $medium-font;
  }

  &__description {
    padding: 20px;
  }

  &__ingredients {
    padding: 10px;
    text-decoration: underline;
  }

  &__ingredients-list {
    padding: 20px;
    text-align: left;
  }

  &__food-pairings {
    padding: 20px;
    text-decoration: underline;
  }
  &__dishes {
    padding: 10px;
  }
}
