$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

$bg-colour: #f2ecdf;
$primary-colour: #ede3c3;
$secondary-colour: #d9a72b;
$tertiary-colour: #b87333cd;
$quaterny-colour: #9e5832;

$accent-colour-one: #734a23;

$medium-font: 20px;
$large-font: 35px;
